@use 'font';
@use 'var' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
    font-weight: 400;
    background-color: #232326;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
	cursor: pointer;
}

.container {
    width: min(1140px, calc(100% - 20px));
    margin-inline: auto;
}

.header {
    position: fixed;
    height: 104px;
    width: 100%;
    top: 0;
    background-color: $dark; 
    padding: 40px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__tel {
        font-size: 14px;
        line-height: 150%;
        text-transform: capitalize;
        color: $light;
    }
    &__email {
        margin-left: 26px;
        font-size: 14px;
        line-height: 150%;
        color: $light;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 24px;
            width: 0;
            border: 1px solid $light;
            left: -13px;
            top: calc(50% - 12px);
            opacity: 0.5;
        }
    }
    &__tel, &__email {
        transition: $tr;
        @media(hover: hover) {
			&:hover {
				color: $red;
			}
        }
    }
}
.menu {
    &__list {
        display: flex;
        gap: 30px;
    }
    &__item {
        list-style: none;

    }
    &__link {
        font-size: 14px;
        line-height: 150%;
        color: $light;
        transition: $tr;
        @media(hover: hover) {
			&:hover {
				color: $red;
			}
        }
    }
}


// .banner {
//     height: 10000px;
//     background-color: #fff;
// }
// .about-me {
//     height: 500px;
//     background-color: #317f8d;
// }